
.c{
width:100%;
heigth:15px;
display:grid;
padding-top:10px;
padding-left:8px;
background-color:rgb(45,167,189);
grid-template-rows:repeat(1,40px);
font-family: 'Rokkitt', serif;
font-family: 'Sansita', sans-serif;
}

.d{
width:90%;
display:grid;
height:1200px;
grid-template-rows:repeat(3,1fr);
grid-template-columns:repeat(3,1fr);
margin:20px;
grid-gap:100px;
margin-left:100px;
margin-right:120px;
border-radius:4px;
}



img{
  width: 150px;
  height: 150px;
  object-fit: contain;

}

.d1{
background-color:green;
width:70%;
display:grid;
height:400px;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(1,1fr);
margin:20px;
grid-gap:20px;
padding:20px;
box-shadow:0 0 20px rgb(134,42,67);
transition:1s;
border-radius:8px solid black;
font-style:bold;
}


.d2{
background-color:rgb(252, 186, 3);
width:70%;
display:grid;
height:400px;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(1,1fr);
margin:20px;
grid-gap:20px;
padding:20px;
box-shadow:0 0 20px rgb(134,42,67);
transition:1s;
}

.d3{
background-color:rgb(157, 3, 252);
width:70%;
display:grid;
height:400px;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(1,1fr);
margin:20px;
grid-gap:20px;
padding:20px;
box-shadow:0 0 20px rgb(134,42,67);
transition:1s;
}

.d4{
background-color:rgb(3, 252, 177);
width:70%;
display:grid;
height:400px;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(1,1fr);
margin:20px;
grid-gap:20px;
padding:20px;
box-shadow:0 0 20px rgb(134,42,67);
transition:1s;
}

.d5{
background-color:rgb(5, 112, 250);
width:70%;
display:grid;
height:400px;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(1,1fr);
margin:20px;
grid-gap:20px;
padding:20px;
box-shadow:0 0 20px rgb(134,42,67);
transition:1s;
}

.d6{
background-color:rgb(189, 17, 103);
width:70%;
display:grid;
height:400px;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(1,1fr);
margin:20px;
grid-gap:20px;
padding:20px;
box-shadow:0 0 20px rgb(134,42,67);
transition:1s;
}


.button1{
border:none;
color:white;
padding:15px 32px;
text-decoration:none;
display:inline-block;
font-size:16px ;
margin :4px 2px;
cursor:pointer;
background-color:red;
}
.d11{
margin:30px;
font-family: 'Rokkitt', serif;
font-family: 'Sansita', sans-serif;
}
.d21{
margin:30px;
}
.d31{
margin:30px;
}

.d41{
margin:30px;
}

.d51{
margin:30px;
}

.d61{
margin:30px;
}

.d2:hover{
transform:scale(1.2);
}
.d3:hover{
transform:scale(1.2);
}
.d4:hover{
transform:scale(1.2);
}
.d5:hover{
transform:scale(1.2);
}
.d6:hover{
transform:scale(1.2);
}


.d1:hover{
transform:scale(1.2);
box-shadow:0 0 20px rgb(145,167,189);
}

.home1{
  margin:10px;
  border:none;
  background-color:red;
  padding:15px 32px;
  color:white;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  cursor:pointer;
  margin-left:50px;
  border-radius:4px;
  height:50px;
  width: 150px;
  margin-left:50px;
  
  margin-bottom: 15px;



}
button a{
  text-decoration:none;
  color:white;
}
a{
text-decoration: none;

}
.home{
 margin-bottom:50px;
}